/*
* Author: Joseph Juarez
* Date: 11/13/2025
* Description: styles for publisher-related elements
*/

/* styles for list of publishers */

.publisher-container{
    margin: 10px auto;
    width: 100%;
    border: 0px solid var(--clr-primary-8);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.publisher-list {
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.publisher-list a {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid var(--clr-grey-9);
    border-bottom: 1px solid var(--clr-grey-9);
    border-right: 1px dotted var(--clr-grey-9);
    border-left: 1px dotted var(--clr-grey-9);
    margin-bottom: -1px;
    margin-right: 40px;
    height: 35px;
}

.publisher-list a div {
    display: inline-block;
    height: 80%;
}
.publisher-list a.active,
.publisher-list a:hover {
    background-color: #e4f1fe;
}

.publisher-list a span {
    display: inline-block;
    width: 10px;
    height: 100%;
    margin-right: 5px;
}

.publisher-list a.active span {
    background-color: gold;
}

/* styles for professor details*/

.publisher-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.publisher-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: left;
    min-height: 230px;
}

.publisher-info {
    width: 60%;
    min-width: 260px;
    max-width: 460px;
}

.publisher-info div {
    padding: 3px;
}

.publisher-name {
    min-width: 250px;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 6px;
    border-bottom: 1px dotted var(--clr-grey-8);
}

.publisher-photo {
    width: 40%;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    height: 250px;
}

.publisher-photo img {
    width: 150px;
}

.publisher-classes {
    margin-top: 40px;
}