/* Styles for the list of games */
.game-container{
    margin: 10px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.game-container > div:nth-child(odd) {
    background-color: #f8f9fa;
}
.game-row {
    width: 100%;
    min-height: 35px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #e4f1fe;
}

.game-row-header {
    font-weight: bold;
    font-size: 14px;
    color: #22252c;
    background-color: #cccccc !important;
    border-top: 2px solid #e4f1fe;
    border-bottom: 1px solid #e4f1fe;
}

.game-row div:nth-child(1) {
    width: 15%
}

.game-row div:nth-child(2) {
    width: 45%
}

.game-row div:nth-child(3) {
    width: 15%
}

.game-row div:nth-child(4) {
    width: 25%
}


/* styles for details of a specific game */

.game-detail-container {
    display: flex;
    flex-direction: column;
}

.game-detail-row {
    border-top: #b7d2ff solid 0px;
    border-bottom: #b7d2ff solid 1px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
}

.game-detail-row div {
    padding: 3px 10px;
}

.game-detail-row div:nth-child(1) {
    min-width: 120px;
    text-align: right;
    font-weight: bold;
    border-right: #b7d2ff solid 1px;
}


/* styles for pagination and sorting */
.game-pagination-container {
    display: flex;
    justify-content: right;
    margin-bottom: 50px;
}

.game-pagination select {
    font-size: small;
}

.game-pagination {
    text-align: right;
    font-size: 0.9em;
    margin-right: 20px;
}

.game-pagination  a {
    font-size: smaller;
    border-radius: 3px;
    border: 1px solid #e4f1fe;
    min-width: 20px;
    padding: 1px 6px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

.game-pagination a:hover {
    background-color: #f8f9fa;
}

.game-sorting {
    text-align: right;
    font-size: 0.9em;
}

.game-pagination select,
.game-sorting select {
    font-size: smaller;
}

/* disable a link*/
a.disabled {
    pointer-events: none;
    color: gray;
    opacity: 0.5;
    cursor: default;
}